{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="col-lg-8 offset-lg-2 text-center">
      <h1>{{ .Title }}</h1>
      <div class="article-author-date">
      <em>
        {{ if .Params.author }} {{ i18n "author" }}: {{ .Params.author }}, {{ end }}
        {{ i18n "date" }}: {{ dateFormat "2 January 2006" .Date }}
      </em>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2">
      <img class="img-fluid mb-3em" src="{{ .Params.image }}" alt="blog-image">
      <div class="post-single-content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
